.painters {
  align-items: center;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

p {
  font-family: Lato sans-serif;
  text-align: center;
}

.heading {
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  gap: 33px;
  margin: 0 auto;
}

.works {
  width: 200px;
  height: 200px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.leo {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.leoMain {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.leoInfo {
  margin: 0;
  padding: 0;
  width: 600px;
}

.mainImg {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

a {
  color: black;
}